
:root {
    --primary: white;
    --secondary: black;
}

body{
    background-color: var(--secondary);
}

body.light {
    --primary: black;
    --secondary: white;
}

.header-navbar{
    margin: 15px;
    border-radius: 15px;
    background-color: var(--secondary);
    color: var(--primary);
    border: 3px solid var(--primary);
 }

.nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link, .nav-link:hover{
    text-decoration: underline;
    text-decoration-color: var(--primary);
    text-underline-offset: 3px;
    color: var(--primary);
}

.button-header .nav-link{
    text-decoration: none;
    margin: 5px;
    border: 2px solid var(--primary);
    border-radius: 15px;
}

.icon-header, .icon-header:hover{
    margin: 15px;
    cursor: pointer;
}